::-webkit-scrollbar {
    width: 0.5rem;
  }
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #999; 
}
::-webkit-scrollbar-thumb:hover {
    background: #777; 
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: "alata";
    background-image: url("../Sources/bg.jpg");
    background-size: cover;
    color: rgb(67, 67, 67);
    text-align: center;
}

img{
    width: 20rem;
    height: auto;
}

a{
    text-decoration: none;
    padding-top: 2rem;
}

.event-content{
    padding: 0 20%;
    line-height: 2rem;
}

@media (max-width: 760px) {
    img{
        width: 18rem;
    }
    .event-name{
        font-size: 1.5rem;
    }
    .event-content{
        line-height: 1.75rem;
        padding: 0 2%;
    }
}