::-webkit-scrollbar {
    width: 0.5rem;
  }
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #999; 
}
::-webkit-scrollbar-thumb:hover {
    background: #777; 
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: "alata";
    background-image: url("/frontend/Sources/bg.jpg");
    background-size: cover;
    color: rgb(67, 67, 67);
}

svg{
    height: 1rem;
}

.information-container{
    text-align: center;
    padding: 0px 30px;
    line-height: 40px;
}

.information-container a{
    text-decoration: none;
}

.information-container h1{
    color: rgb(67,67,67);
}

.red-line{
    color: red;
    padding: 20px 0px;
    font-size: 15px;
}

.form-container{
    font-family: "alata";
    text-align: center;
    display: block;
    margin: auto;
    width: 30%;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 2rem #00000020;
    padding: 2rem 5rem 3rem 5rem;
}

.input-field{
    padding: 0.5rem 0;
}

.input-field input{
    font-family: "alata";
    width: 100%;
    height: 35px;
    text-align: center;
    border-color: rgb(67,67,67);
    border-style: solid;
    border-radius: 5px;
}

.input-field select{
    font-family: "alata";
    width: 100%;
    height: 40px;
    text-align: center;
    border-color: #592952;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.button-field{
    padding-top: 30px;
}

.button-field button{
    width: 30%;
    height: 40px;
    text-align: center;
    color: #fff;
    background-color: rgb(67,67,67);
    border-style: none;
    border-radius: 5px;
}

.button-field button:hover{
    opacity: 0.9;
}

.footer-container{
    text-align: center;
    padding-top: 3rem;   
}

.footer-container p{
    color: rgb(67, 67, 67);
}