::-webkit-scrollbar {
    width: 0.5rem;
  }
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #999; 
}
::-webkit-scrollbar-thumb:hover {
    background: #777; 
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: "alata";
    background-image: url("../Sources/bg.jpg");
    background-size: cover;
    color: rgb(67, 67, 67);
}

svg{
    height: 1rem;
}

.events-container{
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

.event-image img{
    width: 28rem;
    height: auto;
}

.information-container{
    line-height: 300%;
    padding: 0 3%;
    text-align: center;
}

.register-button-container{
    text-align: center;
}

.register-button{
    font-size: 1rem;
    font-weight: 500;
    background-color:rgb(67, 67, 67);
    color: white;   
    border: solid;
    text-decoration: none;
    padding: 0.6rem 1rem;
    border-radius: 0.3rem;
}

.register-button:hover{
    opacity: 0.9;
}
.footer-container{
    text-align: center;
    padding-top: 3rem;   
}

.footer-container p{
    color: rgb(67, 67, 67);
}